*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container1{
    height: 82px;
    color: gray;
    position: sticky;
    top: 0px;
    bottom: 100px;
    z-index: 10;
    box-shadow: 1px 1px 1px rgb(222, 221, 221);
    
}
.container1 .nav-link{
    color: gray;
}

hr{
    color: gray;
    
}
.t{
    height: 50px;
   padding: 2px;
}

.t a{
    color: black;
    font-weight:600;
    text-decoration: none;
    margin-bottom: 20px;
   
}
.tour{
   background-color:rgb(243,112,2);
   height: 45px;
    
}
.navbar-collapse ul li:hover{
    text-decoration: underline solid orangered 2px;
    color: orangered;
    font-weight: 600;
    
}
.nav-item a{
    font-size: 14px;
    font-weight: 500;
}

.nav-link:hover{
    color: orangered;
}
.trend{
    height: 8px;
    width: 45px;
    font-size: 7px;
    
}


.callback{
    position: absolute;
    top: 0px;
    height: 50px;
    width: 265px;
    left: 60px;
    font-size: 10px;
    background-color: rgb(238, 112, 28);
    border-radius: 10px;

}
.callback button{
    font-size: 15px;
   background-color:  rgb(238, 112, 28);
}

.phone{
    color: rgb(236, 163, 27);
    height: 50px;
    width: 50px;
    border: 1px solid orange;
    position: relative;
    
   
}
.h{
    margin-left: 170px;
    margin-right: 170px;
}

.carousel-indicators button{
   height: 40px;
    border-radius: 100%;
}
.c{
    display: inline-block;
}
.range{
    border: 1px solid rgb(208, 208, 208) ;
    border-radius: 6px;
}

.inr input[type="number"]::placeholder{
    color: black; 
    padding-left: 10px;
    font-size: 12px;
    font-weight: 600;
}

.for{
    background-color: rgb(243,112,2);
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-left: 130px;
}
.head{
    height: 550px;
    width: 750px;
}
.modal-dialog{
    display: block;
}

.last{
    height: 290px;
    width: 100%;
    background-color: rgb(47,52,60);
}

.lastt{
    height: 220px;
    width: 100%;
}

.box{
    left: 0px;
    top: 110px;
    width: 100%;
}
 
.content a{
    display: inline;
    font-size: 11px; 
    color: rgb(165, 164, 164);
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

.about{
    font-size: smaller;
    font-weight: 500;
}

.bali{
    top: 30px;
    left: 25px;
    text-align: center;
    font-size: 11px;
}

.bg{
    background-color:  rgb(47,52,60) ;
}

.view{
    color: rgb(243,112,2);
}


.view a{
    color: rgb(243,112,2);
}

.filter .filter1 .imgg img:hover{
    filter: grayscale(0%);
    transform: (1.3,1.3);
}


.common1:hover{
    filter: grayscale(0%);
    transform: scale(1.1,1.1);
}
.common1{
    height: 80px;
    width: 85px;
}
.filter{
    overflow: hidden;
}

